<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Edit Student</title>
</head>
<body class="bg-light">
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title mb-4">Edit Student</h4>

                <form th:action="@{/update}" method="post" th:object="${studentForm}">
                    <input type="hidden" th:field="*{studentId}">

                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" required>
                    </div>


                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" th:field="*{email}" class="form-control" id="email" required>
                    </div>

                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" th:field="*{age}" class="form-control" id="age" min="1" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                   th:field="*{gender}"
                                   id="male"
                                   value="0">
                            <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="radio"
                                   th:field="*{gender}"
                                   id="female"
                                   value="1">
                            <label class="form-check-label" for="female">Female</label>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" th:field="*{address}" class="form-control" id="address" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>